body {
    font-family: Arial, sans-serif;
    background-color: #e8e6e7;
    margin: 0;
    padding: 0;
}
header {
    background-color: #171b4d;
    color: white;
    padding: 10px;
    text-align: center;
}
nav {
    background-color: #555;
    padding: 10px;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
main {
    padding: 20px;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}